<a href="https://colab.research.google.com/github/pranukrish/CMPE255_DataMining/blob/main/Assignment4/Question1/FeatureSubsetSelectionDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Demonstrate Feature Subset Selection Techniques
1. Filtering
2. Wrapping
3. Embedding

Filtering using 
1. Pearsons Correlation
2. Linear Discriminant Analysis(LDA)

#(i) Pearson Correlation

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv("/content/sample_data/california_housing_test.csv")

Mounted at /content/drive

In [4]:
#phish_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Phising_Training_Dataset.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [5]:
corr = df.corr()
corr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.925017,-0.064203,0.049865,0.070869,0.111572,0.051062,-0.018701,-0.050662
latitude,-0.925017,1.000000,-0.025143,-0.039632,-0.068245,-0.117318,-0.068296,-0.072363,-0.138428
housing_median_age,-0.064203,-0.025143,1.000000,-0.367850,-0.323154,-0.299888,-0.305171,-0.144315,0.091409
total_rooms,0.049865,-0.039632,-0.367850,1.000000,0.937749,0.838867,0.914116,0.221249,0.160427
total_bedrooms,0.070869,-0.068245,-0.323154,0.937749,1.000000,0.856387,0.970758,0.024025,0.082279
population,0.111572,-0.117318,-0.299888,0.838867,0.856387,1.000000,0.895530,0.032361,-0.001192
households,0.051062,-0.068296,-0.305171,0.914116,0.970758,0.895530,1.000000,0.048625,0.100176
median_income,-0.018701,-0.072363,-0.144315,0.221249,0.024025,0.032361,0.048625,1.000000,0.672695
median_house_value,-0.050662,-0.138428,0.091409,0.160427,0.082279,-0.001192,0.100176,0.672695,1.000000

#(ii) LDA

In [6]:
X = df.iloc[:, 0:4].values
y = df.iloc[:, 4].values

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

Performing Feature Scaling for LDA

In [9]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=1)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

In [11]:
X_train

array([[ 3.70421704],
       [-1.83653455],
       [-1.54376916],
       ...,
       [ 6.27509517],
       [-2.43564454],
       [-2.2196009 ]])

#Wrapper Methods
1. Forward Selection
2. Backward Elimination

#(i) Forward Selection

In [12]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv("/content/drive/MyDrive/Data/Phishing_Training_Dataset.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
y = df['Result']
x = df.drop(['Result', 'key'], axis=1)
#x1 = sample_data.drop(['Result'], axis=1)
#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 0,stratify = y)

In [14]:
!pip install --quiet mlxtend

In [15]:
import joblib
import sys
sys.modules['sklearn.externals.joblib'] = joblib

In [16]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.linear_model import LinearRegression

In [17]:
# Sequential Forward Selection(sfs)
sfs = SFS(LinearRegression(),
          k_features=11,
          forward=True,
          floating=False,
          scoring = 'r2',
          cv = 0)

In [18]:
sfs.fit(x, y)
sfs.k_feature_names_

('having_IP',
 'Prefix_Suffix',
 'having_Sub_Domain',
 'SSLfinal_State',
 'Request_URL',
 'URL_of_Anchor',
 'Links_in_tags',
 'SFH',
 'web_traffic',
 'Google_Index',
 'Links_pointing_to_page')

# (ii) Backward Elimination

In [71]:
sbs = SFS(LinearRegression(),
         k_features=29,
         forward=False,
         floating=False,
         cv=0)

In [ ]:
sbs.fit(x, y)
sbs.k_feature_names_